.file-load-block {
	display: block !important;
	width: auto !important;
	height: auto !important;
	padding: 2px 2px 3px;
	margin-bottom: 24px;
	border: 2px dashed #ccc;
	background-color: #eee;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

.file-load-block.file-load-area {
	display: block !important;
	height: 50px;
	border: 2px dashed #ccc;
	padding: 2px 2px 3px;
	background-color: #eee;
	border-radius: 6px;
}

.file-load-text-container{
	line-height: 56px;
	padding: 9px;
}


.file-load-block.for-wide {
	width: 99% !important;
	padding: 2px 5px 3px;
}

.file-load-block.active {
	border: 2px dashed #08c;
}

textarea.with-file-load-block {
	margin-bottom: 0px;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom: none;
	min-height: 65px;
}
